<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Anton|Long+Cang&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PropWash</title>
    <style>
   body{
    background-color: #f5f5f5;
   }
        label{
            color:gray
        }
        select{
            color: cornflowerblue
        }
        h1{
            color:dimgray
            font-family: Anton
        }
        button{
            color:red
        }


    </style>
</head>
<body>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

<h1>PropWash</h1>

<form class="form" action="" style="margin-top: auto;">
    <div class="btn-group-vertical">
        <button type="button" class="btn btn-secondary">Каталог</button>
        <button type="button" class="btn btn-secondary">Справка</button>

    </div>
</form>


<div class="container">
    <form class="form" action="/PropProj/index" style="margin-top: -50px;">

        {% for category in catalog %}
        <form class="form" action="/PropProj/index" style="margin-left: 55px;">
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">{{ category.Name }}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    {{ specs }}
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
        <div class="form-group row">
            <div class="col-2"><label class="form-label">{{ category.name }}</label></div>
            <div class="col-8">
                <p><select name="part" class="form-control" id="inlineFormCustomSelectPref">
                    <option>Выберите комплектующую</option>
                    {% for part in category.items %}
                    <option value="{{ part.Id }}">{{ part.name }}</option>
                    {% endfor %}
                </select></p>
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                        style="margin-right: auto">
                    Подробнее
                </button>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>
</div>
    </div>

            </div>
        </div>
        {% endfor %}
    </form>

</body>
</html>