<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <header>
    <a class="logo" style="color:#b22222">PropWash</a>
    <button style="float: right;" type="button" style="margin-top:3px" class="color red button" type="submit" onClick='location.href="/login"' align="right">Вход</button>

    <nav>
        <ul class="topmenu">
            <li style="margin-right:20px"><a href="/">Каталог</a></li>
            <li><a href="help.html">Справка</a></li>
            </ul>
    </nav>
</header>
</head>
<body>

</body>
</html>