<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PropWash</title>

</head>

<h1>HEH</h1>
<form action="/PropProj/index">
   <p><input name="login"> <input type="password" name="pass"></p>
   <p><input type="submit"></p>
</form>

<form action="/PropProj/index">
   <p><select name="part">
       <option disabled>Выберите комплектующую</option>
       {% for part in parts %}
            <option value="{{ part.Id }}">{{ part.Name }}</option>
       {% endfor %}
   </select></p>
   <p><input type="submit" value="Отправить"></p>
  </form>

</body>
</html>